{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Voici paladèche, un serveur minecraft moddé pvp-faction qui a été recréé a partir de paladium. Télécharger dès maintenant !">
    <title>Paladèche</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'favicon/favicon.png' %}" type="image/x-icon">

</head>
<body>
    {% include 'partials/navbar.html' %}
    <main>
        <div class="divTitlePaladeche">
            <div class="paladeched" style="flex-direction: column;">
                <p class="paladeche">Paladèche, <br> Paladium en une semaine</p>
            </div>
        </div>
        
        <div class="installDiv">
                <p class="install">Télécharger des maintenant ! Choisissez votre version :</p>
                <div class="plateforme_install">
                    <button type="submit" class="install"><a href="https://github.com/Paladeche/launcher/releases/download/1.0.1/Paladeche-Launcher-win-x64.exe"><img src="{% static 'icons/windows-10.png' %}" alt=""></a></button>
                    <button type="submit" class="install"><a href="https://github.com/Paladeche/launcher/releases/download/1.0.1/Paladeche-Launcher-mac-universal.dmg"><img src="{% static 'icons/apple.png' %}" alt=""></a></button>
                    <button type="submit" class="install"><a href="https://github.com/Paladeche/launcher/releases/download/1.0.1/Paladeche-Launcher-linux-x86_64.AppImage"><img src="{% static 'icons/ubuntu.webp' %}" alt=""></a></button>
                </div>
        </div>
    </main>
    <footer>
        {% include 'partials/footer.html' %}
    </footer>
</body>
</html>