{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Obtenez le statut des différents serveur de paladèche.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status des serveurs</title>
    <link rel="icon" href="{% static 'favicon/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'partials/navbar.html' %}
    <main>
        <div class="divTitlePaladeche">
            <div class="paladeched">
                <p class="paladeche">Status des serveurs</p>
            </div>
        </div>
        <div class="status_containerD">
            <div class="status_container">
                <p class="list_servers" style="color: whitesmoke; font-size: 20px;">Liste des serveurs:</p>
                {% for server in servers %}
                <div class="server" {% if server.status %} style="background-color: green;" {% endif %}>
                    <p class="server_name">{{server.name}}</p>
                    {% if server.status %}
                    <p class="players" style="display: flex; justify-content: center; align-items: center;">{{ server.status.players.online }} / {{ server.status.players.max }}</p>
                    <p class="latency" style="display: flex; justify-content: end; align-items: center;">{% if server.name == "launcher" %}{{ server.latency }} {% else %}{{ server.status.latency }} {% endif %}</p>
                    {% else %}
                    <p class="players" style="display: flex; justify-content: center; align-items: center;">Le serveur est hors ligne.</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

    </main>
    <footer>
        {% include 'partials/footer.html' %}
    </footer>
</body>
</html>