{% load static %}
<div class="footer">
    <img src="{% static 'svg/footer.svg' %}" alt="Footer Image">
    <div class="bas_footer">
        <div class="paladecheFooter">
            <p>Paladèche 2024</p>
        </div>
        <div class="madeBy">
            <p>Par <a href="https://github.com/chiroo-lmr">Chiroo__</a>, <a href="https://github.com/LeBeaufort">LeBeaufort</a>, Xiao</p>
        </div>
        <div class="contactFooter">
            <p><a href="https://discord.gg/AMCVvM3MPA">Notre Discord</a></p>
            <p><a href="https://github.com/paladeche">Notre Github</a></p>
            <p><a href="https://www.youtube.com/channel/UCKdkOghRPKn-mbioW9_mkkg">Notre Chaine Youtube</a></p>
        </div>
    </div>
</div>
